@using MotorReparation.Client.Services.IServices

@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject ILocalStorageService localStorage
@inject IJSRuntime JsRuntime

<div class="card my-3">
    <div class="card-body">
        <EditForm Model="PartUnit" OnSubmit="()=>HandlePartUnitUpsert(TicketId)">
            <div class="form-group">
                <label>PartId</label>
                <InputSelect class="form-control" @bind-Value="PartUnit.PartId">
                    <option value="0">Select...</option>
                    @foreach (var partId in ListPartId)
                    {
                        <option value="@partId">@partId</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label>Price</label>
                <InputNumber @bind-Value="PartUnit.Price" class="form-control"></InputNumber>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <InputNumber @bind-Value="PartUnit.Quantity" class="form-control"></InputNumber>
            </div>
            @if (Action == "Display")
            {
                <div class="form-group">
                    <label>CreatedDate</label>
                    <p class="form-control">@PartUnit.CreatedDate</p>
                </div>
                <div class="form-group">
                    <label>CreatedBy</label>
                    <p class="form-control">@PartUnit.CreatedBy</p>
                </div>
                <div class="form-group">
                    <label>LastModifiedDate</label>
                    <p class="form-control">@PartUnit.LastModifiedDate</p>
                </div>
                <div class="form-group">
                    <label>LastModifiedBy</label>
                    <p class="form-control">@PartUnit.LastModifiedBy</p>
                </div>
            }

            @if (PartUnit.Id > 0)
            {
                <div class="form-group">
                    <button class="btn btn-primary disabled">Edit PartUnit</button>
                    <button class="btn btn-danger" @onclick="()=>HandleDelete(PartUnit.Id)">Delete</button>
                </div>
            }
            else
            {
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </EditForm>
    </div>
</div>


@code {
    [Parameter]
    public int TicketId { get; set; }
    [Parameter]
    public Ticket Ticket { get; set; } = new Ticket();
    [Parameter]
    public EventCallback<Ticket> TicketChanged { get; set; }
    [Parameter]
    public PartUnit PartUnit { get; set; } = new PartUnit();
    [Parameter]
    public string Action { get; set; } = "";
    private List<int> ListPartId { get; set; } = new List<int>()
    {
        1,2,3,4,5
    };
    protected override Task OnInitializedAsync()
    {
        var x = Action;
        return base.OnInitializedAsync();
    }
    private async Task HandlePartUnitUpsert(int Id)
    {
        var userDTO = await localStorage.GetItemAsync<UserDTO>(SD.Local_UserDetails);
        if (PartUnit.Id == 0)
        {
            PartUnit.CreatedDate = DateTime.UtcNow;
            PartUnit.CreatedBy = userDTO.Id;
            PartUnit.LastModifiedDate = DateTime.UtcNow;
            PartUnit.LastModifiedBy = userDTO.Id;
            PartUnit.TicketId = TicketId;
            var result = await HttpClient.PostAsJsonAsync($"api/PartUnit", PartUnit);
            if (result != null)
            {
                PartUnit.Id = int.Parse(await result.Content.ReadAsStringAsync());
                Ticket.PartUnits.Add(PartUnit);

                //update ticket LastModification
                Ticket.LastModifiedDate = DateTime.UtcNow;
                Ticket.LastModifiedBy = userDTO.Id;
                var response = await HttpClient.PutAsJsonAsync($"api/ticket", Ticket);

                await UpdateTicketFromPartUnit();
                await JsRuntime.InvokeVoidAsync("ShowSwal", "success", "Task completed successfully!");
            }
            await JsRuntime.InvokeVoidAsync("HidePartUnitModal");
            PartUnit = new PartUnit();
        }
        else
        {
            PartUnit.LastModifiedDate = DateTime.UtcNow;
            PartUnit.LastModifiedBy = userDTO.Id;
            var result = await HttpClient.PutAsJsonAsync($"api/PartUnit?id={PartUnit.Id}", PartUnit);
            if (result != null)
            {
                Ticket.PartUnits = Ticket.PartUnits.Where(x => x.Id != PartUnit.Id).ToList();
                Ticket.PartUnits.Add(PartUnit);

                //update ticket LastModification
                Ticket.LastModifiedDate = DateTime.UtcNow;
                Ticket.LastModifiedBy = userDTO.Id;
                var response = await HttpClient.PutAsJsonAsync($"api/ticket", Ticket);

                await UpdateTicketFromPartUnit();
                await JsRuntime.InvokeVoidAsync("ShowSwal", "success", "Task completed successfully!");
            }
            await JsRuntime.InvokeVoidAsync("HidePartUnitModal");
            PartUnit = new PartUnit();
        }
    }
    private async Task HandleDelete(int id)
    {
        if (id != null)
        {
            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
            if (confirmed)
            {
                var result = await HttpClient.DeleteAsync($"api/PartUnit?id={id}");
                if (result != null)
                {
                    var userDTO = await localStorage.GetItemAsync<UserDTO>(SD.Local_UserDetails);
                    Ticket.PartUnits = Ticket.PartUnits.Where(x => x.Id != id).ToList();

                    //update ticket LastModification
                    Ticket.LastModifiedDate = DateTime.UtcNow;
                    Ticket.LastModifiedBy = userDTO.Id;
                    var response = await HttpClient.PutAsJsonAsync($"api/ticket", Ticket);

                    await UpdateTicketFromPartUnit();
                }
                await JsRuntime.InvokeVoidAsync("HidePartUnitModal");
                await JsRuntime.InvokeVoidAsync("ShowSwal", "success", "Task completed successfully!");
            }
        }
    }
    private async Task UpdateTicketFromPartUnit()
    {
        await TicketChanged.InvokeAsync(Ticket);
    }
}
